body {
    background-color: #f8f8f8;
    max-width: 100%;
    color: black;

}

.faq-container {
    max-width: 700px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.centered {
    justify-content: center;
    align-items: center;
    display: flex;
}

.fixed-background {
    background-image: url('/blackoutplate/images/background-faq.jpg');
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group button {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form-group select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon fill="%23000000" points="6,8 10,12 14,8"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px 12px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .form-group select {
        padding-right: 30px;
    }
}

.form-group button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.form-group button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .form-container {
        width: calc(100% - 30px); /* Adjust width and keep some space on the sides */
        margin: 15px;
    }
}
