* {
    font-family: inherit;
}

body {
    background-color: #f8f8f8;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fixed-background {
    background-image: url('/blackoutplate/images/background-faq.jpg');
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.info-item.active .arrow {
    transform: rotate(-90deg);
}

.info-item {
    margin-bottom: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.info-item.active .info-content {
    display: block;
}

.info-toggle {
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent; 
    border: none; 
    height: 70px;
    color: #000000;
}

.info-title {
    flex-grow: 1;
    font-size: large;
}

.arrow {
    display: block;
    transition: transform 0.3s ease;
    width: 10px;
}

.info-content {
    overflow: hidden; 
    max-height: 0; 
    transition: max-height 0.3s ease;
    padding-left: 10px;
    font-size: medium;
}

.info-item.active .info-content {
    max-height: 500px;
}

.faq-container {
    max-width: 700px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq {
    transition: opacity 0.5s ease, transform 2.5s ease;
    opacity: 0;
    transform: translateY(20px);
    padding-top: 1%;
}

.faq-title {
    color: #505050;
}

.email-button {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.email-button:hover {
    background-color: #0056B3;
}
