body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery {
    flex: 1 1 300px;
    text-align: center;
}

.main-image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 8px;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

.thumb {
    width: 60px;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.thumb:hover {
    transform: scale(1.1);
}

.product-details {
    flex: 1 1 300px;
    padding: 20px;
    text-align: left;
    display: flex;      
    flex-direction: column; 
    height: 450px;
}

#product-name {
    font-size: 24px;
    color: #333;
}

.price {
    font-size: 20px;
    color: green;
}

.description {
    margin: 10px 0;
    color: #555;
}

select {
    -webkit-appearance: menulist;
    appearance: menulist;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    height: 45px;
    margin: 10px 0;
}

.buy-now {
    display: inline-block;
    /*background-color: #007bff;*/
    background-color: #969696;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center; 
    width: 90%;
}
/* REMOVE THIS WHEN WEBSITE GOES LIVE 
.buy-now:hover {
    background-color: #0056b3;
}*/

.buy-now:hover {
    background-color: #969696;
    cursor:default;
}

.accepted-payments {
    width: 30%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.additional-info {
    padding-top: 10px;
    text-align: left;
    padding: 20px;
    max-width: 1200px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;

    }

    .gallery, .product-details {
        flex: 1 1 100%;
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 30px;
    }
}


