body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #f8f8f8;
}

.fixed-background {
    background-image: url('/frontend/blackoutplate/images/Banner-with-black-bars.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200px;
    width: 100%;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
}

.info-item.active .arrow {
    transform: rotate(-90deg);
}

.info-item {
    margin-bottom: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.info-item.active .info-content {
    display: block;
}

.info-toggle {
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent; 
    border: none; 
    height: 70px;
    color: #000000;
}

.info-title {
    flex-grow: 1;
    font-size: large;
}

.arrow {
    display: block;
    transition: transform 0.3s ease;
    width: 10px;
}

.info-content {
    overflow: hidden; 
    max-height: 0; 
    transition: max-height 0.3s ease;
    padding-left: 10px;
    font-size: medium;
}

.info-item.active .info-content {
    max-height: 500px;
}


.about-container {
    max-width: 700px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-header {
    text-align: center;
    color: #e8491d;
}

.about-text {
    margin: 20px 0;
}

.highlight {
    color: #e8491d;
}
