body {
    background-color: #f8f8f8;
    color: #000000;
}

.info-item.active .arrow {
    transform: rotate(-90deg);
}

.info-item {
    margin-bottom: 5px;
    /* Add border-top and border-bottom with your desired color and width */
    border-top: 1px solid #ccc; /* Example color and thickness */
    border-bottom: 1px solid #ccc;
}

.info-item.active .info-content {
    display: block;
}

.info-toggle {
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent; /* Ensure background is transparent */
    border: none; /* Remove borders from the sides */
}

.info-title {
    flex-grow: 1;
}

.arrow {
    display: block;
    transition: transform 0.3s ease;
    width: 10px;
}

.info-content {
    overflow: hidden; 
    max-height: 0; 
    transition: max-height 0.3s ease;
}

.info-item.active .info-content {
    max-height: 500px; /* Adjust as necessary */
}

.faq-container {
    max-width: 700px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq {
    transition: opacity 0.5s ease, transform 2.5s ease;
    opacity: 0;
    transform: translateY(20px);
    padding-top: 1%;
}

.faq-title {
    color: #505050;
}
