body {
    background-color: #f8f8f8;
    color: black;
}

.fixed-background {
    background-image: url('/frontend/blackoutplate/images/background-faq.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200px;
    width: 100%;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

#buttons {
    text-align: center;
    margin-bottom: 20px;
    max-width: 1200px;
}
#buttons button {
    width: 49%;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
#buttons button.active {
    background-color: white;
    color: black;
    border: #333 solid;
}
#buttons button:not(.active) {
    background-color: gray;
    border: gray solid;
    color: white;
}
.content {
    display: none;
    margin-top: 20px;
    justify-content: justify;
    text-align: justify;
    max-width: 1200px;
}
.content.active {
    display: block;
}

.content.active p {
    padding-bottom: 5%;
}

@media (max-width: 600px) {
    body {
        margin-top: 20%;
    }
}

.about-container {
    background-color: #fff;
    color: #333;
    max-width: 700px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}